<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Change</title>
</head>
<body>
    <div class="container">
        <h1>Results</h1>
        <h3>Score:</h3>
        <hr>
                <p>Your Score is: {{ integer }}</p>
        </h4>
    </div>
</body>
</html>
