<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Anagram</title>
</head>
<body>
    <div class='container'>
        <h1>Anagram</h1>
        <p>Enter a word and a list of words to compare.</p>
        <form action='/anagram'>
            <div class='form-group'>
              <label for='word'>Word</label>
              <input id='word' name='word' type='text'>
              <label for='list'>List of words</label>
              <input id='list' name='list' type='text'>
            </div>
            <button type='submit' class='btn-success'>Submit</button>
        </form>
    </div>
</body>
</html>
