<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Change Calc</title>
</head>
<body>
    <div class='container'>
        <h1>Change Calculator</h1>
        <p>Enter the amount of change you have.</p>
        <form action='/change'>
            <div class='form-group'>
              <label for='change'>Cents:</label>
              <input id='change' name='change' type='int'>
            </div>
            <button type='submit' class='btn-success'>Submit</button>
        </form>
    </div>
</body>
</html>
