<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Allergy Score</title>
</head>
<body>
    <div class='container'>
        <h1>Find Your Allergy Score</h1>
        <p>Enter Allergies</p>
        <form action='/allergies'>
            <div class='form-group'>
              <label for='allergy'>Cents:</label>
              <input id='allergy' name='allergy' type='text'>
            </div>
            <button type='submit' class='btn-success'>Submit</button>
        </form>
    </div>
</body>
</html>
